<div class="col-md-6 role-container">
    <h2 style="margin: auto"> Liste des rôles</h2>
   <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom du rôle</th>
        <th>Privilèges </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roles" >
        <td>{{role.name}}</td>
        <td><li style="list-style-type:none;" *ngFor="let privilege of role.privileges">
          {{privilege.name}}
        </li></td>
      </tr>
      </tbody>
    </table>
  </div>