<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Liste des employés</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Login</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td><li style="list-style-type:none;" *ngFor="let role of user.roles">
        {{role.name}}
      </li></td>
    </tr>
    </tbody>
  </table>
</div>