<button class="btn btn-info" (click)="logout()" style="margin-left: 20px;"> Deconnexion</button>
<div *hasPrivilege="['can_see_list_user']" > <button class="btn btn-info" (click)="users()" style="margin-left: 20px;"> Liste des employés</button></div>
<div *hasPrivilege="['can_see_list_role']" ><button class="btn btn-info" (click)="roles()" style="margin-left: 20px;"> Liste des rôles</button></div>